.app{
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 33% 33% 33%;
  width: 100vw;
  min-height:100%;
  height: 100%;
  top:0px;
  left:0px;
  right: 0px;
  margin: 0;
  font-family: 'Mali', cursive;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Times New Roman', serif;
  font-size: 11px;
  grid-gap: 1em;
}
.header-container{
  display: grid;
  grid-row: 1;
  grid-column: 1/4;
  grid-template-rows: auto;
  grid-template-columns: 10% 40% 50%;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 0px 0px 0.2px 0px;
  border-color: #036;
}
.header-logo{
  grid-column: 1;
}
.header-right-menu{
  display:grid;
  grid-column: 2;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}
.leftbutton{
  list-style-type: none;
  display: inline;
  padding: 0.5rem;
}
.form-container{
  grid-row: 1/4;
  grid-column: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 15% 35% 20% 20%;
  border-style: solid;
  border-width: 0.2px 0.2px 0.2px 0.2px;
  border-color: #036;
}
.dark-overlay{
  margin: auto;
  width: 100%;
  min-height: 100%;
  grid-column: 2/3;
  grid-row: 1/4;
  position: relative;
  background-color: rgba(0, 51, 102, 0.034);
}
.form-tab{
  display: grid;
  min-height: 50rem;
  grid-template-columns: 25% 50% 25%;
}
.aval-dep-fblock, .aval-dep-fblock-construtor, .aval-dep-fblock-CWS{
  grid-column: 1;
  width: 80%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
}
.aval-dep-fblock-construtor{
  display: grid;
  grid-template-rows: 45% 55%
}
#form-regra{
  min-width: 100%;
    max-width: 100%;
    height: 3rem;
}
.regra-final{
  word-wrap: break-word
}
.aval-dep-taglist{
}
.aval-formin, .aval-formin-pop{
  min-width: 100%;
  max-width: 100%;
    height: 50%;
  border-width: 0px 0px 1px 0px;
  margin-top:1rem;
  font-size: 1rem;
}
.aval-formin-pop{
  position: relative;
  min-width: 30%;
  height: 55%;
}
.aval-formin:focus, .aval-formin-pop:focus{
  border-color: #036;
}
.formin-check{
  width: 6rem;
  height: 2.5rem;
  margin: 0px 0.25rem 0rem 0.25rem;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.589);
  border-width: 0px 0px 2px 0px;
  outline:none;
}
.formin-check:hover, .formin-check:focus{
  border-color: #036;
  color: #036;
  font-size:1em;
  border-width: 0px 0px 2px 0px;
  outline-style: none;
}
.tagmods-popup{
  z-index: 3;
  grid-column: 2/3;
  grid-row: 2;
  width: 50%;
  height: 100%;
  margin: auto;
  
}
.construtor-labels{
  margin: auto; 
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 10% 20% 20% 30% 10% 10%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #036;
  text-align: center;
}

.costructor-labels-choices{
  margin: auto;
}
.costructor-labels-choices-3{
  grid-row: 3
}
.ok-button{
  text-align: right;
}
.check-button{
  height: 2rem;
  width: 2rem;

}.check-button:hover{
  background-color: rgba(4, 186, 92, 0.047)
}
#footer{
  grid-row: 3;
  grid-column: 2;
  position: relative;
  text-align: center;
}

.floating-label{
  position:absolute;
  transition: all 300ms;
  opacity: 0.5;
  padding: 2em 0 0 1em;
  z-index: 2;
}
.floating-labelo{
  position:absolute;
  transition: all 300ms;
  opacity: 0.5;
  padding: 3em 0 0 0;
  z-index: 2;
}
.construtor-text{
  position:relative;
  margin: 1rem;
}
.gerador{
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  outline:none;
  max-height: 100%;
}
.gerador:hover{
  border-style: solid;
  border-width: 1px;
  border-color: #036;
  background-color: rgba(6, 74, 175, 0.089);
}
.gerador-ok{
  width: 15rem;
}
.text-popup{
  grid-row: 5;
}
.vazio-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
@media(max-width:850px){
  .form-container, .dark-overlay{
    grid-column: 1/4;
  }
  .tagmods-popup{
    width: 100%;
  }
}